%h1 Events
- @events.each do |event|
  %p= event.name
  %p= event.message
  %p= event.date
  %p= event.time
  %p= event.timezone
  %p= event.latitude
  %p= event.longitude
  %p= event.user_id

%p= link_to 'New event', new_event_path
