%h2 New Event 
= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@playlist.errors.count, "error")} prohibited this playlist from being saved:"
      %ul
        - @playlist.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field.date
    = f.label :date
    = f.datetime_select :datetime, :ampm => true
  .field
    = f.label :time_zone
    = f.time_zone_select :timezone
  .field
    = f.label :venue
    = f.text_field :venue
  .field
    = f.label :address
    = f.text_field :address, :onblur => "geocode();"
  .field
    = f.label :message
    = f.text_field :message
  .field
    = f.label :gift
    = f.file_field :gift
  .hidden_fields
    .map_container
      #map_canvas{:style => "height: 400px; width: 400px;"}
    .field
      = f.label :latitude
      = f.text_field :latitude
    .field
      = f.label :longitude
      = f.text_field :longitude

  .actions
    = f.submit 'Save', :class => "btn primary"
