!!!
%html
  %head
    %title Checkin
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #header
      %h1 Checkin
      %ul#nav
        - if user_signed_in?
          %li= link_to 'manage events', events_path
          %li= link_to 'settings', edit_user_registration_path
          %li= link_to 'log out', destroy_user_session_path, :method => :delete
        - else
          %li= link_to 'register', new_user_registration_path
          %li= link_to 'login', new_user_session_path

    #content
      = yield

    #footer
      &copy; Tomer Elmalem
